.carrusel_elemento {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 100;
  }
  
  .activo {
    opacity: 1;
    position: relative;
    z-index: 900;
    width: 100%;
    margin: auto;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  }
  
  .anterior {
    transform: translateX(-100%);
  }
  
  .siguiente {
    transform: translateX(100%);
  }
  